.IconCatalogActivel54,
.active-icon .IconCatalogNormal54 {
  background-image: url("../img/sprite.png");
  background-position: 0px 0px;
  width: 54px;
  height: 54px;
}
.IconCatalogHover54,
.IconCatalogNormal54:hover {
  background-image: url("../img/sprite.png");
  background-position: 0px -54px;
  width: 54px;
  height: 54px;
}
.IconCatalogNormal54 {
  background-image: url("../img/sprite.png");
  background-position: -54px 0px;
  width: 54px;
  height: 54px;
}
.IconCreateGroupActive50,
.active-icon .IconCreateGroupNormal50 {
  background-image: url("../img/sprite.png");
  background-position: -100px -212px;
  width: 50px;
  height: 50px;
}
.IconCreateGroupHover50,
.IconCreateGroupNormal50:hover {
  background-image: url("../img/sprite.png");
  background-position: -150px -212px;
  width: 50px;
  height: 50px;
}
.IconCreateGroupNormal50 {
  background-image: url("../img/sprite.png");
  background-position: -200px -212px;
  width: 50px;
  height: 50px;
}
.IconCreateGroupNotActive50 {
  background-image: url("../img/sprite.png");
  background-position: -50px -262px;
  width: 50px;
  height: 50px;
}
.IconCreateServiceActive50,
.active-icon .IconCreateServiceNormal50 {
  background-image: url("../img/sprite.png");
  background-position: -100px -262px;
  width: 50px;
  height: 50px;
}
.IconCreateServiceHover50,
.IconCreateServiceNormal50:hover {
  background-image: url("../img/sprite.png");
  background-position: -150px -262px;
  width: 50px;
  height: 50px;
}
.IconCreateServiceNormal50 {
  background-image: url("../img/sprite.png");
  background-position: -162px 0px;
  width: 50px;
  height: 50px;
}
.IconCreateServiceNotActive50 {
  background-image: url("../img/sprite.png");
  background-position: -162px -50px;
  width: 50px;
  height: 50px;
}
.IconDeleteActive50,
.active-icon .IconDeleteNormal50 {
  background-image: url("../img/sprite.png");
  background-position: -162px -100px;
  width: 50px;
  height: 50px;
}
.IconDeleteHover50,
.IconDeleteNormal50:hover {
  background-image: url("../img/sprite.png");
  background-position: 0px -162px;
  width: 50px;
  height: 50px;
}
.IconDeleteNormal50 {
  background-image: url("../img/sprite.png");
  background-position: -50px -162px;
  width: 50px;
  height: 50px;
}
.IconDeleteNotActive50 {
  background-image: url("../img/sprite.png");
  background-position: -100px -162px;
  width: 50px;
  height: 50px;
}
.IconEditActive50,
.active-icon .IconEditNormal50 {
  background-image: url("../img/sprite.png");
  background-position: -150px -162px;
  width: 50px;
  height: 50px;
}
.IconEditHover50,
.IconEditNormal50:hover {
  background-image: url("../img/sprite.png");
  background-position: -212px 0px;
  width: 50px;
  height: 50px;
}
.IconEditNormal50 {
  background-image: url("../img/sprite.png");
  background-position: -212px -50px;
  width: 50px;
  height: 50px;
}
.IconEditNotActive50 {
  background-image: url("../img/sprite.png");
  background-position: -212px -100px;
  width: 50px;
  height: 50px;
}
.IconFlatTableActive50,
.active-icon .IconFlatTableNormal50 {
  background-image: url("../img/sprite.png");
  background-position: -212px -150px;
  width: 50px;
  height: 50px;
}
.IconFlatTableHover50,
.IconFlatTableNormal50:hover {
  background-image: url("../img/sprite.png");
  background-position: 0px -212px;
  width: 50px;
  height: 50px;
}
.IconFlatTableNormal50 {
  background-image: url("../img/sprite.png");
  background-position: -50px -212px;
  width: 50px;
  height: 50px;
}
.IconHandbookActive54,
.active-icon .IconHandbookNormal54 {
  background-image: url("../img/sprite.png");
  background-position: -54px -54px;
  width: 54px;
  height: 54px;
}
.IconHandbookHover54,
.IconHandbookNormal54:hover {
  background-image: url("../img/sprite.png");
  background-position: -108px 0px;
  width: 54px;
  height: 54px;
}
.IconHandbookNormal54 {
  background-image: url("../img/sprite.png");
  background-position: -108px -54px;
  width: 54px;
  height: 54px;
}
.IconHierarchyActive50,
.active-icon .IconHierarchyNormal50 {
  background-image: url("../img/sprite.png");
  background-position: -262px 0px;
  width: 50px;
  height: 50px;
}
.IconHierarchyHover50,
.IconHierarchyNormal50:hover {
  background-image: url("../img/sprite.png");
  background-position: -262px -50px;
  width: 50px;
  height: 50px;
}
.IconHierarchyNormal50 {
  background-image: url("../img/sprite.png");
  background-position: -262px -100px;
  width: 50px;
  height: 50px;
}
.IconHistoryActive30,
.active-icon .IconHistoryNormal30 {
  background-image: url("../img/sprite.png");
  background-position: -312px 0px;
  width: 30px;
  height: 30px;
}
.IconHistoryHover30,
.IconHistoryNormal30:hover {
  background-image: url("../img/sprite.png");
  background-position: -280px -262px;
  width: 30px;
  height: 30px;
}
.IconHistoryNormal30 {
  background-image: url("../img/sprite.png");
  background-position: -250px -262px;
  width: 30px;
  height: 30px;
}
.IconMetamodelActive54,
.active-icon .IconMetamodelNorma54 {
  background-image: url("../img/sprite.png");
  background-position: 0px -108px;
  width: 54px;
  height: 54px;
}
.IconMetamodelHover54,
.IconMetamodelNorma54:hover {
  background-image: url("../img/sprite.png");
  background-position: -54px -108px;
  width: 54px;
  height: 54px;
}
.IconMetamodelNorma54 {
  background-image: url("../img/sprite.png");
  background-position: -108px -108px;
  width: 54px;
  height: 54px;
}
.IconPrintActive50,
.active-icon .IconPrintNormal50 {
  background-image: url("../img/sprite.png");
  background-position: -200px -262px;
  width: 50px;
  height: 50px;
}
.IconPrintHover50,
.IconPrintNormal50:hover {
  background-image: url("../img/sprite.png");
  background-position: 0px -262px;
  width: 50px;
  height: 50px;
}
.IconPrintNormal50 {
  background-image: url("../img/sprite.png");
  background-position: -262px -200px;
  width: 50px;
  height: 50px;
}
.IconPrintNotActive50 {
  background-image: url("../img/sprite.png");
  background-position: -262px -150px;
  width: 50px;
  height: 50px;
}
.IconSuggestionActive30,
.active-icon .IconSuggestionNormal30 {
  background-image: url("../img/sprite.png");
  background-position: -312px -30px;
  width: 30px;
  height: 30px;
}
.IconSuggestionHover30,
.IconSuggestionNormal30:hover {
  background-image: url("../img/sprite.png");
  background-position: -312px -60px;
  width: 30px;
  height: 30px;
}
.IconSuggestionNormal30 {
  background-image: url("../img/sprite.png");
  background-position: -312px -90px;
  width: 30px;
  height: 30px;
}
/*****Fonts******/
@font-face {
  font-family: 'Open Sans Condensed';
  src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url("../fonts/opensanscondlight.woff2") format('woff2'), url("../fonts/opensanscondlight.woff") format('woff'), url("../fonts/opensanscondlight.ttf") format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans Condensed';
  src: local('Open Sans Cond Light Italic'), local('OpenSans-CondensedLightItalic'), url("../fonts/opensanscondlightitalic.woff2") format('woff2'), url("../fonts/opensanscondlightitalic.woff") format('woff'), url("../fonts/opensanscondlightitalic.ttf") format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans Condensed';
  src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'), url("../fonts/opensanscondensedbold.woff2") format('woff2'), url("../fonts/opensanscondensedbold.woff") format('woff'), url("../fonts/opensanscondensedbold.ttf") format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Sans Light';
  src: local('Fira Sans Light'), local('FiraSans-Light'), url("../fonts/firasanslight.woff2") format('woff2'), url("../fonts/firasanslight.woff") format('woff'), url("../fonts/firasanslight.ttf") format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Sans';
  src: local('Fira Sans'), local('FiraSans-Regular'), url("../fonts/firasans.woff2") format('woff2'), url("../fonts/firasans.woff") format('woff'), url("../fonts/firasans.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Sans Bold';
  src: local('Fira Sans Bold'), local('FiraSans-Bold'), url("../fonts/firasansbold.woff2") format('woff2'), url("../fonts/firasansbold.woff") format('woff'), url("../fonts/firasansbold.ttf") format('truetype');
  font-weight: 700;
  font-style: normal;
}
/*****EndFonts******/
.blue-text {
  color: #26abe2;
}
body {
  font-family: 'Fira Sans', sans-serif;
  background-color: #eef1f7;
  color: #2d3b50;
}
a:hover {
  text-decoration: none;
}
.bold {
  font-weight: 600;
}
.fz11 {
  font-size: 11px !important;
}
.fz12 {
  font-size: 12px !important;
}
.fz14 {
  font-size: 14px !important;
}
.fz18 {
  font-size: 18px !important;
}
.fz10 {
  font-size: 10px !important;
}
.fz30 {
  font-size: 30px !important;
}
.fz36 {
  font-size: 36px !important;
}
.fz20 {
  font-size: 20px !important;
}
.fw600 {
  font-weight: 600;
}
.fw300 {
  font-weight: 300;
}
.boldfont {
  font-family: boldfont;
}
.flex,
.circle-button,
.breadcrumb-button,
.head,
.head-right,
.main-cont-left,
.breadcrumb,
.page-card-datatable tr td:nth-child(1),
.main-cont-right-breadcrumb,
.main-cont-right-breadcrumb-rightpart {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.flex-start {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.p60 {
  padding: 60px;
}
.tal {
  text-align: left !important;
}
.dib {
  display: inline-block;
}
.w100per {
  width: 100%;
}
/* ##### Margins ##### */
.m25_0 {
  margin: 25px 0px;
}
.mr20 {
  margin-right: 20px;
}
.mr25 {
  margin-right: 25px;
}
.mb40 {
  margin-bottom: 40px;
}
.mt40 {
  margin-top: 40px;
}
.mt85 {
  margin-top: 85px;
}
/* ##### Margins ##### */
.w60per {
  width: 60%;
}
.w80per {
  width: 80%;
}
.w100per {
  width: 100%;
}
.col-md-1 {
  width: 6%;
}
.col-md-11 {
  width: 94%;
}
.circle-button {
  margin-right: 30px;
}
.circle-button a {
  display: inline-block;
}
.breadcrumb-button {
  padding: 10px;
  background: #eef1f7;
}
.breadcrumb-button a {
  display: block;
}
.head {
  height: 70px;
  background: #364760;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2000;
}
.head-brand {
  color: #fff;
  font-size: 36px;
  font-family: 'Open Sans Condensed', sans-serif;
  margin-left: 20px;
}
.head-right-name {
  color: #fff;
}
.head-right-avatar {
  margin: 0 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
}
.head-right-avatar:hover {
  cursor: pointer;
}
.head-right-avatar-menu {
  position: absolute;
  background: #008000;
  padding: 5px 10px;
  width: 145px;
  left: -75px;
  top: 60px;
  display: none;
}
.head-right-avatar-menu a {
  color: #fff;
}
.main-cont {
  margin-top: 70px;
}
.main-cont-left {
  background-image: url("../img/bg.png");
  height: 100vh;
  position: fixed;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  padding-top: 20px;
  z-index: 200;
}
.main-cont-right {
  padding-bottom: 50px;
}
.main-cont-right-wraper {
  padding-left: 40px;
}
/* ####### ACTIVE-ICON ######### */
/* ####### ACTIVE-ICON ######### */
.main-cont-left-icon {
  display: inline-block;
  margin: 0 auto;
  display: block;
  color: #fff;
}
.main-cont-left-block {
  color: #fff;
  width: 100%;
  text-align: center;
  font-size: 10px;
  border-bottom: 1px solid #808080;
  padding-bottom: 10px;
  margin-bottom: 10px;
  position: relative;
}
.main-cont-left-block:hover {
  color: #808080;
}
.main-cont-left-block:hover a {
  display: block !important;
}
.main-cont-left-block .main-cont-left-block-hoverMenu {
  position: absolute;
  left: 80px;
  top: -10px;
  background-image: url("../img/bg.png");
  z-index: 5000;
  width: 230px;
}
.main-cont-left-block .main-cont-left-block-hoverMenu:hover {
  display: block !important;
}
.main-cont-left-block .main-cont-left-block-hoverMenu a {
  color: #fff;
  text-align: left;
  display: inline-block;
  padding: 8px 20px;
  padding-left: 40px;
  float: left;
  display: none;
}
.main-cont-left-block .main-cont-left-block-hoverMenu a:hover {
  color: #719021;
}
.breadcrumb {
  padding-left: 50px;
  background: #fff;
  height: 50px;
  margin-left: -55px;
  margin-right: -50px;
  margin-bottom: 0;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #2d3b50;
}
.breadcrumb a {
  color: #2d3b50;
}
.breadcrumb .active {
  color: #2d3b50;
  font-weight: 700;
}
.breadcrumb>li+li:before {
  color: #2d3b50;
  font-weight: 400 !important;
}
.btn-primary {
  background: #26abe2;
  border: 0px;
  padding: 12px;
}
.btn-danger {
  background: #e74e40;
  border: 0px;
  padding: 12px;
  color: #fff;
}
.btn-danger :hover {
  color: #fff !important;
  background: #e74e40;
}
p {
  font-family: Fira Sans Light;
}
.first-col-bold tr td:nth-child(1) {
  font-weight: 600 !important;
}
.border-around {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.page-card-datatable thead {
  border-top: 1px solid #ddd;
  background: #2d3b50;
  color: #fff;
}
.pagination a {
  margin-right: 10px;
  color: #808080 !important;
}
.pagination a:hover,
.pagination a:active {
  background: #e8eef2;
  border: 1px solid #808080;
}
.pagination .active a {
  background: #e8eef2;
  border: 1px solid #808080;
}
.pagination .active a:hover,
.pagination .active a:active {
  background: #e8eef2;
  border: 1px solid #808080;
}
.page-card-datatable tr td:nth-child(1) {
  color: #26abe2;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.page-card-datatable tr td input {
  width: 50px;
}
.page-card-datatable a {
  font-weight: 300;
  color: #26abe2;
}
.dataTables_wrapper .form-control {
  margin-bottom: 0 !important;
}
.dataTables_wrapper input[type="search"] {
  margin-bottom: 0 !important;
}
.main-cont-right-breadcrumb {
  width: 100%;
  background: #fff;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main-cont-right-breadcrumb-rightpart {
  margin-right: -15px;
}
.main-cont-right-breadcrumb-rightpart .active-icon {
  background: #008000;
  position: relative;
  z-index: 100;
}
.main-cont-right-breadcrumb-rightpart .active-icon:before {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: -5px;
  left: 20px;
  background: #008000;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.form-control {
  border-radius: 0px;
  margin-bottom: 15px;
  box-shadow: 0 0 0;
  border: 1px solid #e4e3e3;
}
.inline-input-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 10px 0px;
}
.inline-input-row input[type="checkbox"] {
  margin-right: 10px;
}
.inline-input-row label {
  font-weight: 300;
}
.inline-input-row-datepick {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 30px;
  margin-bottom: 5px;
}
.inline-input-row-datepick input[type="checkbox"] {
  margin-right: 10px;
  margin-top: 0px;
}
.inline-input-row-datepick label {
  display: inline-block;
  margin: 0 5px;
  font-weight: 300;
}
.inline-input-row-datepick label:nth-child(1) {
  margin-left: 0px;
}
.inline-input-row-datepick select {
  width: 55px;
  height: 25px;
  padding: 0px 5px !important;
  border-radius: 3px;
  margin-bottom: 0px;
}
.inline-input-row-datepick-date {
  margin-left: 0px !important;
  width: 30px;
}
.inline-input-row-datepick .form-control {
  width: 80px;
  border-radius: 5px;
  margin: 0 10px;
  margin-bottom: 0;
  text-align: center;
  position: relative;
}
.group-date-select {
  margin-bottom: 30px;
}
.inline-input-row-radio {
  height: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0;
}
.inline-input-row-radio input[type="radio"] {
  margin-right: 10px;
  margin-top: 0px;
}
.inline-input-row-radio label {
  display: inline-block;
  margin: 0 15px;
}
.inline-input-row-radio label:nth-child(1) {
  margin-left: 0px;
}
.rightpart-table th {
  font-weight: 300;
}
.rightpart-table thead {
  background: #8898b1;
  border-bottom: 0px !important;
}
.rightpart-table-head {
  height: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
  background: #fff;
}
.rightpart-table-head-icon {
  margin-right: 10px;
}
.rightpart-table-head-text {
  margin-top: 10px;
  color: #26abe2;
}
.rightpart-table a {
  color: #26abe2;
  font-weight: 300;
}
.rightpart-table tr {
  font-size: 10px;
}
.main-cont-right-wraper-right {
  background: #fff;
}
.main-cont-right-wraper-left {
  padding-right: 40px;
}
.row-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
.main-cont-right-wraper-right {
  background: #fff;
  padding: 0;
  margin-bottom: -50px;
}
.disable-inline-input-row {
  color: #dcd4d4 !important;
}
.disable-inline-input-row * {
  color: #dcd4d4 !important;
}
.serch-line input {
  width: 400px;
  margin-right: 30px;
  margin-bottom: 0px;
}
.serch-line button {
  padding: 8px 25px;
}
.row-catalog-date-pick {
  margin: 25px 0;
}
.row-catalog-date-pick .row {
  background: #fff;
  margin-left: -55px;
  padding: 20px;
  padding-left: 55px;
}
.row-catalog-date-pick-last-column button {
  margin-left: 230px;
}
.template-nav a {
  margin-right: 20px;
  color: #607594;
}
.jstree-anchor {
  white-space: normal;
}
.table-tree table {
  margin-top: 10px;
}
.table-tree thead {
  background: #364760;
  color: #fff;
}
.jstree-default .jstree-anchor {
  height: auto;
  background: #fff;
  width: 98%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 2px;
  border: 1px solid #dadada;
}
.check-box-list .inline-input-row {
  padding-bottom: 0;
  padding-top: 5px;
}
.chosen-container {
  display: block;
  margin: 10px 0;
  margin-bottom: 20px;
  width: 100%;
}
.glyphicon-chevron-up {
  display: inline-block;
  width: 30px;
  height: 30px !important;
  line-height: 30px !important;
  margin: 2px 1.5px;
  cursor: pointer;
  border-radius: 4px;
}
.bootstrap-datetimepicker-widget a[data-action] {
  padding: 0 !important;
}
.metamodel-configBase {
  background: #fff;
  padding: 20px;
  margin-right: 40px;
}
/*# sourceMappingURL=css/style.css.map */
/*# sourceMappingURL=style.css.map */